body {
  background-color: #020307;
  color: #2a2b24;
  font-family: 'Mukta', sans-serif;
  font-size: 0.95em; }
  body a {
    color: #fff; }
  body ul {
    list-style-type: none; }

header {
  color: #e0493e;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.9em;
  letter-spacing: 5px;
  text-align: center; }
  header p {
    margin-bottom: 0px; }

@media screen and (max-width: 1080px) {
  header {
    font-size: 1.5em; } }

@media screen and (max-width: 550px) {
  header {
    font-size: 1em; } }

nav {
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 15%;
  min-width: 150px;
  max-width: 200px; }
  nav ul {
    border-bottom: 1px solid #e0493e;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px; }
    nav ul li {
      border-radius: 1px 1px 0px;
      font-weight: bold;
      padding-top: 5px;
      padding-right: 0px;
      padding-bottom: 5px;
      padding-left: 5px; }
    nav ul li#selected {
      background-color: #e0493e;
      color: #fff; }
    nav ul a {
      text-decoration: none; }
      nav ul a:hover li {
        background-color: #e0493e; }

@media screen and (max-width: 1080px) {
  nav {
    font-size: 0.9em; } }

@media screen and (max-width: 550px) {
  nav {
    font-size: 0.7em; } }

main {
  text-align: center; }

#dlwdCV {
  background-image: url("../img/pdf25.png");
  background-repeat: no-repeat;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: center; }

div.cv {
  margin: auto;
  max-width: 1200px;
  width: 80%; }
  div.cv .rubrique {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px; }
    div.cv .rubrique .important {
      background-color: #e0493e;
      border-radius: 0px 10px 10px 0px;
      width: 30%; }
      div.cv .rubrique .important h2 {
        color: #fff;
        font-family: 'Orbitron', sans-serif;
        font-size: 1.7em;
        letter-spacing: 5px; }
      div.cv .rubrique .important p {
        font-size: 1.7em;
        font-style: italic;
        margin-bottom: 0px; }
    div.cv .rubrique .details {
      background-color: #f2e3a4;
      border-radius: 10px 0px 0px 10px;
      text-align: left;
      width: 70%; }
      div.cv .rubrique .details .techSkills {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 5px 30px 5px 20px; }
        div.cv .rubrique .details .techSkills ul {
          list-style-type: none;
          margin: 0px;
          padding: 0px; }
      div.cv .rubrique .details .resume {
        font-size: 0.9em;
        font-style: italic;
        margin: 0px;
        padding: 5px 20px;
        text-align: justify; }
      div.cv .rubrique .details .list {
        list-style-type: none;
        padding-left: 20px; }
        div.cv .rubrique .details .list li {
          margin-bottom: 15px; }
          div.cv .rubrique .details .list li:before {
            border-bottom: 6px solid transparent;
            border-left: 10px solid #e0493e;
            border-top: 4px solid transparent;
            content: "";
            display: inline-block;
            height: 0;
            margin-right: 8px;
            width: 0; }
          div.cv .rubrique .details .list li br {
            padding-left: 17px; }
  div.cv .rubrique:nth-child(2) {
    flex-direction: row; }
    div.cv .rubrique:nth-child(2) .important {
      border-radius: 10px 0px 0px 10px;
      width: 30%; }
    div.cv .rubrique:nth-child(2) .details {
      background-color: #f2e3a4;
      border-radius: 0px 10px 10px 0px;
      width: 70%; }

@media screen and (max-width: 1350px) {
  div.cv .rubrique .important h2 {
    font-size: 1.3em;
    letter-spacing: 5px;
    margin-bottom: 0px; }
  div.cv .rubrique .important p {
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-top: 10px; } }

@media screen and (max-width: 1080px) {
  div.cv .rubrique {
    flex-direction: column;
    margin-top: 20px; }
    div.cv .rubrique .important {
      border-radius: 10px 10px 0px 0px;
      width: 100%; }
    div.cv .rubrique .details {
      border-radius: 0px 0px 10px 10px;
      width: 100%; }
  div.cv .rubrique:nth-child(2) {
    flex-direction: column; }
    div.cv .rubrique:nth-child(2) .important {
      border-radius: 10px 10px 0px 0px;
      width: 100%; }
    div.cv .rubrique:nth-child(2) .details {
      border-radius: 0px 0px 10px 10px;
      width: 100%; } }

@media screen and (max-width: 550px) {
  div.cv .rubrique .important h2 {
    font-size: 1em; }
  div.cv .rubrique .important p {
    font-size: 1em; }
  div.cv .rubrique .details .techSkills {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px 30px 5px 20px; }
    div.cv .rubrique .details .techSkills ul {
      margin-top: 10px; }
      div.cv .rubrique .details .techSkills ul li ul {
        margin-top: 0px; } }

#regles {
  background-color: #e0493e;
  border-left: 3px solid #f2e3a4;
  color: #020307;
  font-family: 'Mukta', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 5px;
  text-align: left;
  width: 450px; }
  #regles p {
    margin-top: 0px;
    margin-bottom: 2px; }

section.jeu {
  display: flex;
  justify-content: center;
  text-align: left; }
  section.jeu #alerte {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    color: #020307;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
    max-width: 420px;
    padding: 15px;
    position: fixed;
    top: 300px;
    width: 80%;
    z-index: 3; }
  section.jeu #pause {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    color: #020307;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: auto;
    max-width: 420px;
    padding: 15px;
    position: fixed;
    top: 300px;
    text-align: center;
    width: 80%;
    z-index: 2; }
  section.jeu #canvas {
    background-image: url(../img/grill.png);
    background-repeat: no-repeat; }
  section.jeu .scoreAndCo {
    color: #e0493e;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    overflow: hidden;
    padding-top: 0px;
    padding-left: 10px; }
    section.jeu .scoreAndCo .bouton {
      background-color: #000;
      border: 1px solid #e0493e;
      border-radius: 4px;
      box-shadow: 1px 1px 3px #e0493e;
      color: #fff;
      cursor: pointer;
      font-family: 'Orbitron', sans-serif;
      font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 2px;
      margin: auto;
      padding: 4px;
      text-align: center;
      width: 150px; }
      section.jeu .scoreAndCo .bouton:hover {
        background-color: #e0493e; }
    section.jeu .scoreAndCo p {
      margin-bottom: 5px; }
    section.jeu .scoreAndCo .infosVies {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
      margin-top: 10px; }
      section.jeu .scoreAndCo .infosVies .viesVides {
        background-image: url("../img/vies_vides.png");
        background-repeat: no-repeat;
        display: inline-block;
        overflow: hidden;
        position: relative;
        width: 120px;
        height: 27px; }
        section.jeu .scoreAndCo .infosVies .viesVides #vies {
          position: absolute;
          left: 0px; }
    section.jeu .scoreAndCo .bonus {
      border: 1px solid #e0493e;
      background-color: #f2e3a4;
      background-image: url("../img/pcman.png");
      background-repeat: no-repeat;
      background-position-y: 50%;
      color: #f2e3a4;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 15px;
      padding-left: 20px;
      width: 320px; }
    section.jeu .scoreAndCo #competences, section.jeu .scoreAndCo #parcours, section.jeu .scoreAndCo #formation {
      font-family: 'Mukta', sans-serif; }
    section.jeu .scoreAndCo #parcours {
      margin-bottom: 35px; }
    section.jeu .scoreAndCo .croquettesVides {
      border: 1px solid #e0493e;
      border-radius: 5px;
      height: 20px;
      margin-top: 0px;
      margin-bottom: 35px;
      position: relative;
      width: 292px;
      z-index: 1; }
      section.jeu .scoreAndCo .croquettesVides #croquettes {
        background-color: #e0493e;
        height: 20px;
        margin-top: 0px;
        margin-bottom: 15px;
        position: absolute;
        width: 100px; }
    section.jeu .scoreAndCo #resultat {
      text-align: center;
      width: 320px; }
      section.jeu .scoreAndCo #resultat p {
        font-size: 1.3em;
        font-weight: bold; }
      section.jeu .scoreAndCo #resultat a {
        text-decoration: none; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%; }
  footer div#mail {
    background-image: url("../img/mail2018white.png"); }
  footer div#lin {
    background-image: url("../img/In20white.png"); }
  footer div#tel {
    background-image: url("../img/phone20white.png");
    color: #fff; }
  footer div#mail, footer div#lin, footer div#tel {
    background-repeat: no-repeat;
    height: 20px;
    margin-top: 10px;
    padding-left: 25px; }

@media screen and (min-width: 960px) {
  footer {
    display: flex;
    flex-direction: row; }
    footer div {
      margin-right: 30px; } }
