#regles {
    background-color: $topicColor;
    border-left : 3px solid $detailsColor;
    color: $screenColor;
    font-family: 'Mukta', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    width: 450px;

    p{
        margin-top: 0px;
        margin-bottom: 2px;
    }
}

section.jeu {
    display: flex;
    //margin-left: 25%;
    justify-content: center;
    text-align: left;



    #alerte {
        background-color:  rgba(255,255,255,0.9);
        border-radius: 3px;
        color: $screenColor;
        display: none;
        font-size: 1.2em;
        font-weight: bold;
        margin: auto;
        max-width: 420px;
        padding: 15px;
        position: fixed;
        top: 300px;
        width: 80%;
        z-index: 3;
    }

    #pause {
        background-color:  rgba(255,255,255,0.9);
        border-radius: 3px;
        color: $screenColor;
        display: none;
        font-size: 1.2em;
        font-weight: bold;
        margin: auto;
        max-width: 420px;
        padding: 15px;
        position: fixed;
        top: 300px;
        text-align: center;
        width: 80%;
        z-index: 2;
    }

    #canvas {
        background-image: url(../img/grill.png);
        background-repeat: no-repeat;
    }

    .scoreAndCo {
        color: $topicColor;
        font-family: 'Orbitron', sans-serif;
        font-size: 1em;
        letter-spacing: 2px;
        overflow: hidden;
        padding-top: 0px;
        padding-left: 10px;  
        


        .bouton {
            background-color: #000;
            border: 1px solid $topicColor;
            border-radius: 4px;
            box-shadow:1px 1px 3px $topicColor;
            color: #fff;
            cursor: pointer;
            font-family: 'Orbitron', sans-serif;
            font-size: 1.1em;
            font-weight: bold;
            letter-spacing: 2px;
            margin: auto;
            padding: 4px;
            text-align: center;
            width: 150px;

            &:hover {
                background-color:$topicColor;
            }
        }

        p {
            margin-bottom: 5px;
        }

        .infosVies {
            display: flex;
            align-items: flex-end;
            margin-bottom: 30px;
            margin-top: 10px;
    
            .viesVides {
                background-image: url('../img/vies_vides.png');
                background-repeat: no-repeat;
                display: inline-block;
                overflow: hidden;
                position: relative;
                width: 120px;
                height: 27px;
    
                #vies {
                    position: absolute;
                    left:0px;
                }
            }    
        }

        .bonus {
            border: 1px solid $topicColor;
            background-color: $detailsColor;
            background-image: url('../img/pcman.png');
            background-repeat: no-repeat;
            background-position-y: 50%;
            color: $detailsColor;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 15px;
            padding-left: 20px;
            width: 320px;


        }

        #competences, #parcours, #formation {
            font-family: 'Mukta', sans-serif;
        }

        #parcours {
            margin-bottom: 35px;
        }

        .croquettesVides {
            border: 1px solid $topicColor;
            border-radius:5px;
            height: 20px;
            margin-top: 0px;
            margin-bottom: 35px;
            position: relative;
            width: 292px;
            z-index: 1;

            #croquettes {
                background-color: $topicColor;
                height: 20px;
                margin-top: 0px;
                margin-bottom: 15px;
                position: absolute;
                width: 100px;
            }

        }
        
        #resultat {
            text-align: center;
            width: 320px;

            p {
                font-size: 1.3em;
                font-weight: bold;
            }

            a {
                text-decoration: none;
            }
        }
    
    }
}











