$screenColor: rgb(2, 3, 7);
//$topicColor: rgb(127, 26, 19);
$topicColor: rgb(224, 73, 62);
//$topicColor: rgb(101, 156, 191);
$detailsColor:  rgb(242, 227, 164);
//$detailsColor:  rgb(213, 231, 242);
//$linkColor: rgb(243, 206, 2);
$pacmanColor: rgb(239, 243, 2);
$linkColor: #fff;







