header {
    color: $topicColor;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.9em;
    letter-spacing: 5px;
    text-align: center;

    p {
        margin-bottom: 0px;
    }
}

@media screen and (max-width:1080px) {
    header {
        font-size: 1.5em;
    }
}

@media screen and (max-width:550px) {
    header {
        font-size: 1em;
    }
}
